# 🟢 Node.js
node_modules/
dist/
build/
tmp/
docker/dynamodb-data/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.aws-sam
env.tmp.json
samconfig.toml

# 🟣 Logs
logs/
*.log

# 🟡 OS/System
.DS_Store
Thumbs.db

# 🔵 IntelliJ / WebStorm (.idea)
.idea/
*.iml
*.iws
out/

# ⚫ Lambda package artifacts
function.zip
*.lambda.zip

# 🔸 Event mocks / test files
event-samples/*.json
/layers/
